/* Creating an image file specifically for the header */

body {
    margin: auto;
    padding: auto;
}

header {
    width: 100%;
    max-height: 600px;
    overflow: hidden;
    position: relative;
}

.header-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center center;
    margin: 0 auto;
    object-fit: cover;
    max-height: 600px; 
}

header::after {
    content: ""; /* Add an empty content */
    position: absolute; /* Set the position to absolute */
    bottom: 0; /* Align it to the bottom of the header */
    left: 0; /* Align it to the left of the header */
    width: 100%; /* Make it span the entire width of the header */
    border-bottom: 1px solid black; /* Add a 1px solid black border at the bottom */
}

footer {
    font-size: 12;
    color: rgb(99, 99, 99);
    width: 700px;
    margin: auto;
    text-align: center;
}

@media only screen and (max-width: 720px) {
    footer {
        font-size: 12;
        color: rgb(99, 99, 99);
        text-align: center;
        width: 100%;
        height: auto;
        padding: 85px;
        box-sizing: border-box;
    }
}

.website {
    margin: auto;
    width: 700px;
    font-family: Arial, Helvetica, sans-serif;
}

.styled_text {
    line-height: 1.6;
    text-align: justify;
}

div {
  margin: auto;
}

/* adapting for the media */
@media only screen and (max-width: 720px) {
    .website {
        width: 100%;
        height: auto;
        padding: 10px;
        box-sizing: border-box;
    }
}


ul {
    list-style-type: square;
    text-align: left;
    column-count: 3; /* Set the number of columns */
    column-gap: 30px; /* Adjust the gap between columns */
    padding: 0px; 
}

@media only screen and (max-width: 620px) {
    ul {
        list-style-type: square;
        text-align: left;
        column-count: 2; /* Set the number of columns */
        column-gap: 30px; /* Adjust the gap between columns */
        padding: 0px; 
    }
}

@media only screen and (max-width: 420px) {
    ul {
        list-style-type: square;
        text-align: left;
        column-count: 2; /* Set the number of columns */
        column-gap: -10px; /* Adjust the gap between columns */
        padding: 0px; 
    }
}

li {
    margin-bottom: 10px; /* Add spacing between list items */
}

.list-container {
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center the columns horizontally */
    align-items: flex-start; /* Align the columns to the top of the container */
}

/* Classes and information for figures */

div.drivelink {
  margin: auto;
  text-align: center;
}

div.drivelink img {
    width: 20%;
    height: auto;
}

div.drivelink figcaption {
    font-style: italic;
    font-size: 12px;
    margin-top: -10px;
}


/* Handling citations */

.citation-box {
    border: 2px solid #3498db;
    background-color: #ecf0f1;
    padding: 1px 15px 1px 15px;
    margin: 0px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    /* Style for the citation text */
.citation-text {
    font-style: italic;
    color: #555;
    margin-bottom: 5;
    margin-top: 5;
}



/* Handling collaborators section. */

div.collaborators {
    width: 100%;
    overflow: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap; /* Allow the child divs to wrap to the next line */
    justify-content: center; /* Center the child divs horizontally */
}

div.collaborators div {
    width: 30%;
    margin: 0 1%; /* Add a small margin between child divs */
}

div.collaborators img {
    max-width: 95%; /* Make sure images don't exceed their container */
    height: 250px;
    object-fit: cover;
}

@media only screen and (max-width: 720px) {
    div.collaborators img {
        max-width: 95%; /* Make sure images don't exceed their container */
        height: 34vw;
        object-fit: cover;
    }
}


h4.collaborators {
    align-items: center;
}

h4.collaborators img {
    height: 21px;
    width: 21px;
    vertical-align: -5px;
    margin-left: 3px;
}

